---
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/Sidebar.astro";
import ExperienceSection from "../components/Experience.astro";
---

<Layout title="Ignacio Latorre Website">
  <main class="mx-40 flex flex-row">
    <Sidebar />
    <ExperienceSection />
  </main>
</Layout>
