---
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/Sidebar.astro";
import ProjectsSection from "../components/Projects.astro";
---

<Layout title="Ignacio Latorre Website">
  <main class="mx-40 flex flex-row">
    <Sidebar />
    <ProjectsSection />
  </main>
</Layout>
