<div
  class="h-screen flex flex-col gap-6 flex-1 pt-48 pb-16"
  transition:animate="slide"
>
  <p class="font-lexend text-base">
    My name is Ignacio Latorre, I'm a full-stack developer based in Buenos
    Aires, Argentina. I specialize in designing and building multi-platform
    digital experiences with focus on improving the user experience while
    keeping the code quality at the highest.
  </p>
  <p class="font-lexend text-base">
    I'm enthusiastic about new technologies and i have a passion for acquiring
    knowledge on the different areas of the business in order to improve my
    abilities and provide the best service possible.
  </p>
</div>
