---
import GithubIcon from "../components/icons/Github.astro";
import LinkedinIcon from "../components/icons/Linkedin.astro";
import LeetcodeIcon from "../components/icons/Leetcode.astro";
import MailIcon from "../components/icons/Mail.astro";
---

<div class="flex gap-8">
  <a
    href="https://github.com/ilatorre7"
    class="hover:fill-main-green duration-100"
    ><GithubIcon height="36" width="36" class="fill-main-text" /></a
  >
  <a
    href="https://www.linkedin.com/in/ignacio-latorre-941a25152/"
    class="hover:fill-main-green duration-100"
    ><LinkedinIcon height="36" width="36" class="fill-main-text" /></a
  >
  <a
    href="https://leetcode.com/ilatorre/"
    class="hover:fill-main-green duration-100"
    ><LeetcodeIcon height="36" width="36" class="fill-main-text" /></a
  >
  <a
    href="mailto:ignaciolatorreap@gmail.com"
    class="hover:fill-main-green duration-100"
    ><MailIcon height="36" width="36" class="fill-main-text" /></a
  >
</div>
