---
import ProjectCard from "./ProjectCard.astro";
---

<div
  class="h-screen flex flex-col gap-6 flex-1 pt-48 pb-16"
  transition:animate="slide"
>
  <ProjectCard
    title="Cryptracker"
    description="A website for a tracking cryptocurrencies' values in the market"
  />
  <ProjectCard
    title="KickStore"
    description="A website for buying and selling sneakers and apparel"
  />
  <ProjectCard
    title="Gaia Box Gourmet"
    description="A website for a homemade food entrepreneurship in Uruguay"
  />
  <ProjectCard
    title="R2-D2 Pilot"
    description="A clone of Github Copilot for Visual Studio Code"
  />
</div>
