---
import Navigation from "./Navigation.astro";
import Links from "./Links.astro";
---

<aside class="h-screen flex flex-col justify-between py-16 flex-1">
  <div class="flex flex-col gap-16">
    <div>
      <h1 class="text-4xl font-lexend-deca font-bold text-main-green">
        Ignacio Latorre
      </h1>
      <h2 class="text-2xl font-lexend-deca font-bold text-main-txt">
        Full Stack Developer
      </h2>
    </div>
    <Navigation />
  </div>
  <Links />
</aside>
